## SPDX-License-Identifier: GPL-2.0-only

config CPU_LOONGARCH64
	bool
	select ARCH_BOOTBLOCK_LOONGARCH64
	select ARCH_VERSTAGE_LOONGARCH64
	select ARCH_ROMSTAGE_LOONGARCH64
	select ARCH_RAMSTAGE_LOONGARCH64

