config ARCH_LOONGARCH64
	bool

config ARCH_BOOTBLOCK_LOONGARCH64
	bool
	select ARCH_LOONGARCH64
	select BOOTBLOCK_CUSTOM

config ARCH_VERSTAGE_LOONGARCH64
	bool
	select ARCH_LOONGARCH64

config ARCH_ROMSTAGE_LOONGARCH64
	bool
	select ARCH_LOONGARCH64

config ARCH_RAMSTAGE_LOONGARCH64
	bool
	select ARCH_LOONGARCH64
